@import "./utils/variables";
@import "./base/normalize";
@import "./components/page-header";
@import "./components/hero";
@import "./components/peculiarities";
@import "./components/work";
@import "./components/our-team";
@import "./components/client";
@import "./components/social";
@import "./components/page-footer";
@import "./components/join";
@import "./components/filter";
@import "./components/projects";
