// colors
$prime-white-color: #ffffff;
$text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$background-color: #2f303a;
$icon-color: #afb1b8;

// fonts
$main-font: Roboto;
$secondary-font: sans-serif;
$logo-font: Raleway;
